#well {
    width: 25.5em;
    background-color: #2C577F;
    height: 32em;
}
.red {
    color: white;
    background-color: red;
}

.white {
    color: #2C577F;
    background-color: white;
}

.red.right {
    margin-left: 10px;
}

.btn {
    margin: 2px;
    margin-top: 8px;
    width: 4em;
}

#history {
    max-height: 25em;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    border-color: #17324b;
        font-family: 'Seven Segment', sans-serif;

}